{
  "http_interactions": [
    {
      "recorded_at": "2018-06-07T02:30:14",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://api.azion.net/content_delivery/configurations/1528252734"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "Allow": [
            "GET, PUT, PATCH, DELETE, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "X-RateLimit-Limit": [
            "20"
          ],
          "X-RateLimit-Remaining": [
            "19"
          ],
          "X-RateLimit-Reset": [
            "2018-06-07T02:31:13.422905"
          ]
        },
        "status": {
          "code": 204,
          "message": "NO CONTENT"
        },
        "url": "https://api.azion.net/content_delivery/configurations/1528252734"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}