{
  "http_interactions": [
    {
      "recorded_at": "2018-06-06T02:20:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Dummy configuration\", \"origin_address\": \"www.example.com\", \"origin_host_header\": \"ww2.example.com\", \"cname\": [\"www.example-cname.com\"], \"cname_access_only\": false, \"delivery_protocol\": \"http\", \"origin_protocol_policy\": \"preserve\", \"browser_cache_settings\": false, \"browser_cache_settings_maximum_ttl\": 0, \"cdn_cache_settings\": \"honor\", \"cdn_cache_settings_maximum_ttl\": 0}"
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.azion.net/content_delivery/configurations"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1528252734,\"name\":\"Dummy configuration\",\"domain_name\":\"109445k.ha.azioncdn.net\",\"active\":true,\"delivery_protocol\":\"http\",\"digital_certificate\":null,\"cname_access_only\":false,\"rawlogs\":false,\"cname\":[\"www.example-cname.com\"]}"
        },
        "headers": {
          "Allow": [
            "GET, POST, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-RateLimit-Limit": [
            "20"
          ],
          "X-RateLimit-Remaining": [
            "18"
          ],
          "X-RateLimit-Reset": [
            "2018-06-06T02:21:04.340405"
          ]
        },
        "status": {
          "code": 201,
          "message": "CREATED"
        },
        "url": "https://api.azion.net/content_delivery/configurations"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}