{
  "http_interactions": [
    {
      "recorded_at": "2018-06-07T02:18:24",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Dummy configuration\", \"delivery_protocol\": \"http,https\"}"
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "PUT",
        "uri": "https://api.azion.net/content_delivery/configurations/1528252734"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1528252734,\"name\":\"Dummy configuration\",\"domain_name\":\"109445k.ha.azioncdn.net\",\"active\":true,\"delivery_protocol\":\"http,https\",\"digital_certificate\":null,\"cname_access_only\":false,\"rawlogs\":false,\"cname\":[]}"
        },
        "headers": {
          "Allow": [
            "GET, PUT, PATCH, DELETE, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-RateLimit-Limit": [
            "20"
          ],
          "X-RateLimit-Remaining": [
            "19"
          ],
          "X-RateLimit-Reset": [
            "2018-06-07T02:19:23.842585"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.azion.net/content_delivery/configurations/1528252734"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}