{
  "http_interactions": [
    {
      "recorded_at": "2018-06-07T01:21:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "GET",
        "uri": "https://api.azion.net/content_delivery/configurations/1528252734"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":1528252734,\"name\":\"Dummy configuration\",\"domain_name\":\"109445k.ha.azioncdn.net\",\"active\":true,\"delivery_protocol\":\"http\",\"digital_certificate\":null,\"cname_access_only\":false,\"rawlogs\":false,\"cname\":[\"www.example-cname.com\"]}"
        },
        "headers": {
          "Allow": [
            "GET, PUT, PATCH, DELETE, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "Last-Modified": [
            "Thu, 07 Jun 2018 01:21:42 GMT"
          ],
          "X-RateLimit-Limit": [
            "80"
          ],
          "X-RateLimit-Remaining": [
            "79"
          ],
          "X-RateLimit-Reset": [
            "2018-06-07T01:22:42.811207"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.azion.net/content_delivery/configurations/1528252734"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}