{
  "http_interactions": [
    {
      "recorded_at": "2018-06-13T03:15:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"name\": \"Dummy origin\", \"origin_type\": \"single_origin\", \"host_header\": \"www.example.com\", \"origin_protocol_policy\": \"http\", \"addresses\": [{\"address\": \"www.myorigin.com\", \"server_role\": \"primary\"}], \"connection_timeout\": 60, \"timeout_between_bytes\": 120}"
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.azion.net/content_delivery/configurations/1501191440/origins"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"id\":3896,\"name\":\"Dummy origin\",\"origin_path\":\"\",\"origin_type\":\"single_origin\",\"method\":\"\",\"host_header\":\"www.example.com\",\"origin_protocol_policy\":\"http\",\"addresses\":[{\"address\":\"www.myorigin.com\",\"weight\":null,\"server_role\":\"primary\",\"is_active\":true}],\"connection_timeout\":60,\"timeout_between_bytes\":120}"
        },
        "headers": {
          "Allow": [
            "GET, POST, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-RateLimit-Limit": [
            "20"
          ],
          "X-RateLimit-Remaining": [
            "18"
          ],
          "X-RateLimit-Reset": [
            "2018-06-13T03:16:23.735134"
          ]
        },
        "status": {
          "code": 201,
          "message": "CREATED"
        },
        "url": "https://api.azion.net/content_delivery/configurations/1501191440/origins"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}