{
  "http_interactions": [
    {
      "recorded_at": "2018-06-11T01:43:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "GET",
        "uri": "https://api.azion.net/content_delivery/configurations/1501191440/origins"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"id\":2016,\"name\":\"Default Origin\",\"origin_path\":\"\",\"origin_type\":\"single_origin\",\"method\":\"\",\"host_header\":\"$host\",\"origin_protocol_policy\":\"preserve\",\"addresses\":[{\"address\":\"127.0.0.1\",\"weight\":null,\"server_role\":\"primary\",\"is_active\":true}],\"connection_timeout\":60,\"timeout_between_bytes\":120}]"
        },
        "headers": {
          "Allow": [
            "GET, POST, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "Last-Modified": [
            "Mon, 11 Jun 2018 01:43:44 GMT"
          ],
          "X-RateLimit-Limit": [
            "80"
          ],
          "X-RateLimit-Remaining": [
            "79"
          ],
          "X-RateLimit-Reset": [
            "2018-06-11T01:44:44.572354"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.azion.net/content_delivery/configurations/1501191440/origins"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}