{
  "http_interactions": [
    {
      "recorded_at": "2018-06-09T17:47:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"urls\": [\"www.maugzoide.com/foo.jgp\", \"www.maugzoide.com/bar.jgp\", \"www.notauthorize.com/mistaken.jgp\"], \"method\": \"delete\"}"
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.azion.net/purge/url"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "[{\"status\":\"HTTP/1.1 403 FORBIDDEN\",\"urls\":[\"www.notauthorize.com/mistaken.jgp\"],\"details\":\"Unauthorized domain for your account\"},{\"status\":\"HTTP/1.1 201 CREATED\",\"urls\":[\"www.maugzoide.com/bar.jgp\",\"www.maugzoide.com/foo.jgp\"],\"details\":\"Purge request successfully created\"}]"
        },
        "headers": {
          "Allow": [
            "POST, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-RateLimit-Limit": [
            "200"
          ],
          "X-RateLimit-Remaining": [
            "199"
          ],
          "X-RateLimit-Reset": [
            "2018-06-09T17:48:25.395136"
          ]
        },
        "status": {
          "code": 207,
          "message": "MULTI-STATUS"
        },
        "url": "https://api.azion.net/purge/url"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}