{
  "http_interactions": [
    {
      "recorded_at": "2018-06-10T01:42:23",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"urls\": [\"www.maugzoide.com/@@cookie_name=foobar\", \"www.maugzoide.com/profile.jpg@@\"], \"method\": \"delete\"}"
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.azion.net/purge/cachekey"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"detail\":\"Purge request successfully created\"}"
        },
        "headers": {
          "Allow": [
            "POST, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-RateLimit-Limit": [
            "200"
          ],
          "X-RateLimit-Remaining": [
            "199"
          ],
          "X-RateLimit-Reset": [
            "2018-06-10T01:43:23.333413"
          ]
        },
        "status": {
          "code": 201,
          "message": "CREATED"
        },
        "url": "https://api.azion.net/purge/cachekey"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}