{
  "http_interactions": [
    {
      "recorded_at": "2018-06-10T03:00:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"urls\": [\"www.maugzoide.com/static/img/*\"], \"method\": \"delete\"}"
        },
        "headers": {
          "Authorization": [
            "token <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://api.azion.net/purge/wildcard"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"detail\":\"Purge request successfully created\"}"
        },
        "headers": {
          "Allow": [
            "POST, OPTIONS"
          ],
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-RateLimit-Limit": [
            "2000"
          ],
          "X-RateLimit-Remaining": [
            "1999"
          ],
          "X-RateLimit-Reset": [
            "2018-06-11T03:00:21.267566"
          ]
        },
        "status": {
          "code": 201,
          "message": "CREATED"
        },
        "url": "https://api.azion.net/purge/wildcard"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}
