[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pycodestyle = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
coverage = "*"

[packages]
requests = "*"

[requires]
python_version = "3.6"
